@media (max-width: 599px) {
    :root {
        font-size: 20px;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    :root {
        font-size: 24px;
    }
}

@media (min-width: 1025px) {
    :root {
        font-size: 28px;
    }
}

body {
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(./img/wakimizu.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'New Tegomin', serif;
}

.conA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
    width: 100%;
}

.conA h1 {
    font-size: 20vw;
    -ms-writing-mode: tb-rl; /* 縦書き */
    writing-mode: vertical-rl; /* 縦書き */
    text-orientation: upright; /* 和文、英数字を縦書きに */
}

@media (max-width: 319px) {
    .conA h1 {
        font-size: 64px;
    }
}

@media (min-width: 600px) {
    .conA h1 {
        font-size: 120px;
    }
}

.conB {
    margin-bottom: 30vh;
    height: 30vh;
    width: 100%;
}

.conB p {
    margin-bottom: 15vh;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.4em;
    margin-left: 0.4em;
    margin-right: 0px;
}